In [1]:
import pandas as pd
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

## Read the data

In [2]:
df = pd.read_csv('../data/winequality-red.csv')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Import into PostgreSQL

In [4]:
import psycopg2 as pg2

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres@this_postgres')
name = 'winequality'
df.to_sql(name, engine, if_exists='replace')

## Export from PostgresSQL

In [8]:
def get_con_and_cur():
    con = pg2.connect(host='this_postgres', user='postgres',database='postgres')
    cur = con.cursor()
    return con, cur

In [9]:
sql = '''select t.* from winequality t order by t.alcohol desc'''
con, _ = get_con_and_cur()
df_from_postgre = pd.read_sql(sql,con)

In [10]:
df_from_postgre.head()

,index,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5
1,467,8.8,0.46,0.45,2.6,0.065,7.0,18.0,0.99470,3.32,0.79,14.0,6
2,1270,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
3,142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
4,1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8

Your data will be stored in PostgreSQL volume. Even if your delete containers and then recreate them, all data will be in place.

## Interactive Development

A major goal of this project to framework is to facilitate a new style of software development called interactive development. The interactive development of modules is as follows.

1. Use Jupyter to write code interactively in a notebook.
2. When a block of code gets too large or needs to be repeated, abstract this code into a function in Jupyter.
3. Test the performance of this new function in Jupyter.
4. Move this function to a module in your library of code.
5. Import the code for use as needed.

In [11]:
from os import chdir
chdir('/home/jovyan')
import lib.hello as hello

In [12]:
hello.hello('Jupyter')

Hello Jupyter!